html, body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}  

main {
     flex: 1;
}

nav { 
    background-color: #000000;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer {  
    background-color: #000000; 
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    color: white; 
}

.navbar-brand:hover {
    color: white; 
    text-decoration: underline; 
}
